:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.image-container {
  position: relative; /* Container is relative to the normal flow */
  display: inline-block; /* Helps with layout */
  max-width: 500px;
}

.image-container img {
  display: block;
  width: 100%; /* Makes image responsive within the container */
  height: auto;
}

.string-labels {
  width: 100vw;
  position: absolute; /* Text is positioned relative to the container */
  bottom: 0%; /* Adjusts vertical position */
  left: 50%; /* Adjusts horizontal position */
  transform: translate(-50%, 60%); /* Centers the text precisely */
  color: black; /* Example text styling */
}

.string-labels p {
  width:100%;
  font-size: clamp(0%, 10cqi, 70px);
}

.fret-labels {
  width: 100vw;
  position: absolute; /* Text is positioned relative to the container */
  bottom: 0%; /* Adjusts vertical position */
  top: 29%; /* Adjusts horizontal position */
  transform: translate(-50%, -50%); /* Centers the text precisely */
  color: black; /* Example text styling */
}

.fret-labels p {
  width:100%;
  font-size: clamp(0%, 10cqi, 70px);
}
